<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Privacy Policy</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

  <div class="max-w-4xl mx-auto bg-white p-8 mt-10 shadow-lg rounded-xl">
    <h1 class="text-3xl font-bold mb-10 text-center">Payment Validation Process</h1>
    <div class="flex justify-between">

        <a href="privacy_policy" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Privacy policy</a>
        <a href="terms" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Terms & Conditions</a>
        <a href="refund" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Refund Policy</a>
        
    </div>
  </div>

</body>
</html>